:root {
    --darkerTeal: rgba(104, 179, 175, 1);
    --lighterTeal: rgba(135, 189, 177, 1);
    --seaGreen: rgba(170, 204, 177, 1);
    --springGreen: rgba(195, 219, 180, 1);
    --paleGreen: rgba(211, 226, 182, 1);
    --SerifFont: 'Taviraj', serif;
    --MonoFont: 'Cutive Mono', monospace;
    --SansFont: 'Taviraj', serif;
}