:root {
    --darkerTeal: rgba(104, 179, 175, 1);
    --lighterTeal: rgba(135, 189, 177, 1);
    --seaGreen: rgba(170, 204, 177, 1);
    --springGreen: rgba(195, 219, 180, 1);
    --paleGreen: rgba(211, 226, 182, 1);
    --SerifFont: 'Taviraj', serif;
    --MonoFont: 'Cutive Mono', monospace;
    --SansFont: 'Kanit', sans-serif;
}

#footer {
    padding: 10px 0;
    text-align: center;
    background-color: var(--seaGreen);
    color: #2a2a2a;
    font-family: var(--SerifFont);
}

#footer h1 {
    font-family: var(--SerifFont);
    font-size: 60px;
    color: #2a2a2a;
}

#footer h3 {
    font-family: var(--MonoFont);
    font-size: 15px;
}

#footer h3 a {
    color: #0e0e0e;
    margin: 0 5px;
}
#footer h3 a:hover {
    color: #747474;
    text-shadow: 0 0 5px var(--darkerTeal);
}

/* Small smartphones */
@media screen and (max-width: 576px) {
    #footer {
        width: 100%;
    }
}